<html>
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#submitQR').click(function () {
                var form = new FormData($("#formQR")[0]);
               var actualurl = "http://api.qrserver.com/v1/read-qr-code/";               
                $.ajax({
                    url: actualurl,
                    method: "POST",
                    dataType: 'json',
                    data: form,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $('#divQRResult').text(JSON.stringify(result));
                    },
                    error: function (err) {
                        alert('Error occurred!');
                    }
                });
            });
        });
    </script>
</head>
<body>


    <form id="formQR" name="formQR" enctype="multipart/form-data">

        <!-- The "name" of the input field has to be "file" as it is the name of the POST parameter -->
        Choose QR code image to read/scan: <input id='fileQR' name="file" type="file" />
        <input type="submit" value="submit" id="submitQR"><br /><br />
        <div>
            <b>JSON Result:</b><br /><br />

            <div id="divQRResult"></div>
        </div>
    </form>
</body>
</html>


